In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("./T4-6.DAT", sep="\t", header=None)

In [4]:
import scipy.stats as stats

In [5]:
df.apply(stats.shapiro, axis=0)

,0,1,2,3,4,5,6
0,0.974861,0.977879,0.983875,0.984610,0.962556,6.356202e-01,6.321636e-01
1,0.016167,0.031978,0.126901,0.150066,0.001196,1.728084e-16,1.449176e-16

In [6]:
data = df[[0,1,2,3,4]]

In [7]:
data

      0   1   2   3   4
0    27  13  14  20  11
1    12  13  24  25   6
2    14  20  15  16   7
3    18  20  17  12   6
4     9  22  22  21   6
..   ..  ..  ..  ..  ..
125  10  11  26  17  10
126  14  12  14  11  29
127  19  11  23  18  13
128  27  19  22   7   9
129  10  17  22  22   8

[130 rows x 5 columns]

In [8]:
x_bar = data.mean(axis=0)

In [11]:
d2 = np.zeros(len(data))
for i in range(len(data)):
    d2[i] = (data.iloc[i] - x_bar).T @ np.linalg.inv(data.cov().values) @ (data.iloc[i] - x_bar)

In [12]:
d2

array([ 7.74834167,  4.10760561,  4.52170589,  3.92831162,  3.43822032,
        5.1224351 ,  4.1396058 ,  3.88967756,  4.71051193,  6.40716993,
        2.23920771,  4.53922712,  4.26726616,  3.44816024,  7.78467096,
        1.78561302,  7.43043274,  4.73872712,  4.17232937,  5.74407201,
        2.7430495 ,  5.1459561 ,  4.98530692,  7.23145315,  3.87868291,
       10.89595854,  4.96536714,  4.4750297 ,  5.72875449,  7.78395057,
        2.17286033,  0.45076114,  2.14457373,  0.39657285,  3.81935309,
        4.81841353,  4.85555996,  4.92629121,  4.94276045,  2.18500179,
        2.84500156,  1.85482793,  3.79912141,  3.52163069,  4.16377956,
        3.51788421, 11.06832344,  3.20886073,  2.40911592,  4.6206583 ,
        2.76359629,  2.11344843,  5.75223107,  5.98048461,  8.13153718,
        2.3247746 ,  2.6426479 ,  2.63161575,  3.1352071 , 15.02766251,
        1.20436544,  2.8664037 ,  4.2192101 ,  1.4334055 , 13.91421087,
        2.6772593 ,  4.19256116,  6.31943236,  1.62678292,  2.1212794 ,
        8.07693787,  8.51295021,  8.95551799,  7.17946957,  6.33600471,
        5.00396269,  7.88519755,  9.42932254,  2.88750821,  5.96103435,
        1.15201352,  5.99744089,  7.91187326,  8.13285479,  6.50923556,
        2.51402229,  2.02896998,  6.71204639,  2.47373502,  5.35607527,
        4.88881079,  1.56552349,  1.13564115,  1.55052254, 10.5718755 ,
       12.27761096,  3.5973828 ,  5.54464896,  6.13800159,  5.25469278,
        6.5440622 ,  3.77299117,  1.43982864, 14.66956571,  5.19641285,
        5.00330209,  7.67368757,  2.29796742,  8.33155895,  2.06571669,
       11.0369913 ,  5.30176608,  4.03132197,  5.29041311,  1.1957166 ,
        8.16629989,  3.69873628,  3.82438541,  4.60889553,  2.06355667,
        1.95387535,  2.29497073,  5.92841109,  4.01488893,  2.76248935,
        8.48182939, 12.17213624,  3.96725154,  9.19716202,  1.67665706])

In [13]:
d2_sort = np.sort(d2)