In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("./T4-6.DAT", sep="\t", header=None)

In [4]:
import scipy.stats as stats

In [5]:
df.apply(stats.shapiro, axis=0)

,0,1,2,3,4,5,6
0,0.974861,0.977879,0.983875,0.984610,0.962556,6.356202e-01,6.321636e-01
1,0.016167,0.031978,0.126901,0.150066,0.001196,1.728084e-16,1.449176e-16

In [6]:
data = df[[0,1,2,3,4]]

In [8]:
x_bar = data.mean(axis=0)

In [11]:
d2 = np.zeros(len(data))
for i in range(len(data)):
    d2[i] = (data.iloc[i] - x_bar).T @ np.linalg.inv(data.cov().values) @ (data.iloc[i] - x_bar)

In [13]:
d2_sort = np.sort(d2)